<div id= 'qq_icon'></div>
<div id='cs_online'>
    <ul class='qq_context'>
        <li>
            <span class='span_t'><%=client1%>:</span>
            <span class='qq_num'></span>
        </li>
        <li>
            <span class='span_t'><%=client2%>:</span>
            <span class='qq_num'></span>
        </li>
        </ul>
</div>