<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>雷诺贝尔铝业有限公司|renoxbell.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ALCHEMIST Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../lib/base/base.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/chocolat.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/google.fonts.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/popup-box.css">
    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">

    <!--[STYLES]-->
</head>
<body>
{{{unit name="head" data="data-about-cn"}}}
<!--start-about-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <h3>关于我们</h3>
            <h5>雷诺贝尔铝业有限公司简介</h5>

            <p><span style="color:#000;font-weight: bold">雷诺贝尔铝业有限公司</span> 成立于1998年，旗下拥有肇庆市高新区雷诺贝尔铝业有限公司和陕西雷诺贝尔铝业有限公司，主要从事生产和销售铝单板、铝复合板、铝蜂窝板、五金配件及保护膜等铝幕墙板材和配件。
            </p>
            <div class="about-text" style="height: 220px">
                <div class="col-md-6 about-text-left">
                    <img src="./images/gate.jpg" style="height: 200px" alt="">
                </div>
                <div class="col-md-4 about-text-left">
                    <img src="./images/about2.png" style="height: 200px" alt="">
                </div>
            </div>
            <div>
                <p><span style="color:#000;font-weight: bold">1999年“雷诺贝尔”品牌正式诞生并投入市场运营，为了进一步发展业务，2003年雷诺贝尔铝业有限公司在广州市番禺区投资兴建广州市奥雅雷诺贝尔铝业有限公司，2009年在广东肇庆市高新技术开发区投资2.5亿元成立新工厂，并于2012年在陕西眉县又投巨资再建一个大型现代化工厂，以满足不断扩大的业务需要。</span>
                   雷诺贝尔集设计、研发、制造、销售为一体，整合国内国际市场资源和RENOXBELL（雷诺贝尔）品牌优势，以自主研发、自主创新为主导，重点研发“新材料、新技术、新工艺、新设备”，移形换位，开始了新的扩张征程。
                </p>

                <p>雷诺贝尔铝单板钣金生产线引进日本AISA与SPS公司合资制造的AS电脑全数控折弯机、剪板机、雕刻机、美国Miller氩弧焊机，德国SOYER螺柱焊机及三辊卷板机、钻床、开槽机、角度剪板机、压力机等系列精密数控钣金设备。氟碳涂装生产线引进国外先进技术而建造，全长近430米，年喷涂生产能力为65万平方米，该电脑数控自动喷涂生产线严格遵循ASTM规定，采用悬挂式链条输送，全套日本兰氏第五代先进产品，全电脑数控系统有可变量、电子眼、X轴、Y轴二维数控喷涂等为目前中国最先进的设备。水帘式喷房配有日本Ransburg三套数控静电喷枪，烘道加热选用美国Eclipse牌炉温跟踪仪，和日本美能达色差仪等在线监测系统，该条生产线自动化程度极高，达到国际一流水准。</p>

                <p>“雷诺贝尔科技，铸造世界品质”是雷诺贝尔人以科技为本、追求世界高品质之产品的集中体现。不管是过去，现在还是将来，雷诺贝尔人都坚持以优质产品，优质人才，优质服务的理念，不断打造“雷诺贝尔”品牌，不断研制创新产品来服务于我们全球的客户。只有先进的技术，才能制造出精良优质的产品，也只有精良优质的产品，通过先进理念的洗礼，才能打造出国际品牌。雷诺贝尔正是在此种理念的洗礼下，在中国的市场上坚实而稳定的发展，并成为当今中国金属幕墙板种类最齐全、技术含量最高的幕墙铝业材料制造企业之一。</p>
            </div>

            <h5>主要工程项目：</h5>
            <ul class="about-li" style="margin-top: 20px">
                <li>西安万达广场
                </li>
                <li>西安华南城、郑州华南城、南昌华南城、南宁华南城等。
                </li>
                <li>深圳海雅缤纷城、深圳德宏天下、深圳湾体育馆综合楼等。
                </li>
                <li>广州富力盈隆广场、富力盈信广场、富力盈尊广场等
                </li>
                <li>南方电网广州生产调度基地、粤电广场、广电中心等
                </li>
                <li>广州威斯汀广交会酒店
                </li>
                <li>广州颐德公馆、广东全球通中心、广晟国际大厦、广州国际体育演艺中心等
                </li>
                <li>广州东风广场、车陂广场、广州图书馆、南方书城等
                </li>
                <li>佛山市高明区西江新城文体中心、大剧院、文化馆等。
                </li>
                <li>西安曲江文化广场、西安港务区、西安创意大厦、西安电信大楼等
                </li>
                <li>香港铜锣湾均峰商业大厦、启德邮轮码头、澳门金峰南岸填海开发项目等
                </li>
                <li>蒙古国乌兰巴托香格里拉酒店、尼日利亚拉各斯东方酒店等
                </li>
            </ul>
        </div>
    </div>
</div>
{{{unit name="foo" data="data-cn"}}}

<script type="text/javascript" src="../lib/scrat.js"></script>
<script src="../lib/anchor.js?__inline"></script>
<script type="text/javascript" src="../lib/core/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../lib/plugins/js/easing.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.chocolat.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="../lib/plugins/js/move-top.js"></script>
<script type="text/javascript" src="../lib/plugins/js/owl.carousel.js"></script>
<script type="text/javascript" src="../lib/plugins/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="../config/net.js"></script>
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });

    $(function () {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function (e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
<!--[SCRIPTS]-->
<script>
    /**
     *@require /components/head/head.js
     */
    require.async([
        'components/head/head.js'
    ], function (head){
        head();
    });
</script>
<!--<script type="text/javascript" src="index.js"></script>-->
</body>
</html>
