/*--start-clients--*/
.news {
  background: #f3f3f3;
  padding: 3em 0px;
}

.clients-top {
  text-align: center;
}

.news-top h3 {
  color: #595959;
  font-size: 28px;
  font-weight: 100;
  margin: 0 auto;
  width: 56%;
  line-height: 1.4em;
}

.news-top h3 span {
  color: #666;
  font-weight: 300;
}

.news-btm {
  text-align: center;
  margin-top: 2em;
}

.news-bottom p {
  font-size: 18px;
  color: #595959;
  font-style: italic;
  line-height: 1.8em;
  width: 80%;
  margin: 0 auto;
}

.news-bottom h4 {
  font-size: 1.3em;
  font-weight: 400;
  color: #ff7514;
  margin: 1.2em 0px 0px 0px;
}

.news-bottom h4 span {
  color: #b5b5b5;
}

/*--end-clients--*/
.news-wrap {
  width 1146px
  margin 0 auto
  height 360px
  //display: -webkit-box;
  //-webkit-box-pack: justify;
}

.news-item {
  display: block;
  float left
  width 360px;
  height 490px;
  margin-right 20px
  border-bottom 2px solid #000000
  background-color #fff
  cursor pointer
}

.news-title {
  padding 30px;
  font-size 16px
  font-weight bolder
}

.news-content-info {
  padding 0 30px;
  font-size 14px
  color #999
  font-weight bolder
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.news-img{
    width 360px;
    height 200px;
}