<div class="news">
    <div class="container">
        <div class="news-top">
            <h3><span><%=name%></span></h3>
        </div>
        <div class="news-btm">
            <div id="top2" class="news-wrap">
                <!--&lt;!&ndash;<a href="/newsinfo.html" class="news-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="news-title">IMPOR EXPORT FORWARDING</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="news-content-info">agazine of China's national science academy that provides information on its latest events, research and innovations, telling stories of its leading scientists and their discoveries&ndash;&gt;-->
                        <!--&lt;!&ndash;hat provides information on its latest </div>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;<a href="/newsinfo.html" class="news-item">&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="news-title">IMPOR EXPORT FORWARDING</div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<div class="news-content-info">agazine of China's national science academy that provides information on its latest events, research and innovations, telling stories of its leading scientists and their discoveries&ndash;&gt;-->
                        <!--&lt;!&ndash;hat provides information on its latest </div>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--<a href="/newsinfo.html" class="news-item">-->
                    <!--<div class="news-title">IMPOR EXPORT FORWARDING</div>-->
                    <!--<div class="news-content-info">agazine of China's national science academy that provides information on its latest events, research and innovations, telling stories of its leading scientists and their discoveries-->
                        <!--hat provides information on its latest </div>-->
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>