
/*--start-work--*/
.work{
  padding:2em 0px;
}
.pop-up {
  position: absolute;
  bottom: 3%;
  left: 44.4%;
}
.work-top h3,.news-top h3{
  color:#595959;
  font-size:1.8em;
  margin:0;
  font-weight:400;
}
.work-top{
  text-align:center;
}
.work-bottom {
  background: #f1f1f1;
  margin-top: 2em;
  padding: 1em 0px;
  position: relative;
}
.work-mian p {
  color: #595959;
  font-size: 1.33em;
  font-weight: 700;
  margin: 10px 0px;
}
.work-mian p span{
  color:#828282;
  font-weight:400;
  font-size:1em;
}
.work-mian p span.one{
  margin-left: 5%;
}
.work-mian p span.two{
  margin-left: 14%;
}
.work-mian p span.tre{
  margin-left: 19%;
}
.work-mian p span.fvr{
  margin-left: 4%;
}
.work-mian p span.fve{
  margin-left: 8%;
}
.work-one p span {
  margin-left: 37%;
  font-size:15px;
  margin-top: -5%;
  font-weight: 400;
  display: inline-block;
  color: #828282;
  line-height: 1.8em;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.work ul.callbacks_tabs.callbacks2_tabs{
  display none
}
.work-one p label {
  color: #828282;
  font-size: 1em;
  margin-left: 11%;
}
.work-one {
  margin-top: 8%;
}
.work-one p{
  color: #595959;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0px;
}
.work-left img {
  width: 100%;
}
/*--end-work--*/