<!--&lt;!&ndash;start-work&ndash;&gt;-->
<div class="work">
    <div class="container">
        <div class="work-top">
            <h3><%=name%></h3>
        </div>
        <div class="work-btm">
            <div id="top" class="callbacks_container">
                <ul id="work-projects" class="rslides">
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--End-work-->
