<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>雷诺贝尔铝业有限公司|renoxbell.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ALCHEMIST Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <link rel="icon" href="favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../lib/base/base.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/chocolat.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/google.fonts.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/popup-box.css">
    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">

    <!--[STYLES]-->
</head>
<body>
{{{unit name="head" data="data-contract-cn"}}}
<!--start-contact-->
<div class="contact">
    <div class="container">
        <div class="contact-top">
            <h3>联系我们</h3>
        </div>
        <div id="map" class="mp" style="height: 400px">
        </div>
        <div class="contact-bottom">
            <div class="col-md-5 contact-bottom-left">
                <h3>联系详情：</h3>

                <p>总部: 中国广东省广州市海珠区广州大道南228号经典居1408室</p>

                <p>电话: 02061275402,61275739
                    <span>传真:020-61275817</span>
                    邮箱: <br/><a href="mailto:sales@renoxbell.com">sales@renoxbell.com</a><br/><a href="mailto:sales1@renoxbell.com">sales1@renoxbell.com</a><br/><a href="mailto:sales2@renoxbell.com">sales2@renoxbell.com</a><br/><a href="mailto:sales3@renoxbell.com">sales3@renoxbell.com</a><br/><a href="mailto:renox1@renoxbell.com">renox1@renoxbell.com</a>
                </p>
                <span>网站: <a href="http://www.renoxbell.com">www.renoxbell.com</a></span>
            </div>
            <div class="col-md-7 contact-bottom-right">
                <h3>Get in touch</h3>

                <div class="contact-text">
                    <input id="nickName" type="text" value="名称" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '名称';}"/>
                    <input id="email" type="text" value="邮件地址" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '邮件地址';}"/>
                </div>
                <div class="contact-textarea">
                    <textarea id="content" value="消息" onfocus="this.value = '';"
                              onblur="if (this.value == '') {this.value = '消息';}">Message..</textarea>
                </div>
                <div class="contact-but">
                    <input id="submitContactBtn" type="submit" value="提交"/>
                    <!--<input type="submit"/>-->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--end-contact-->
{{{unit name="foo" data="data-cn"}}}
{{{unit name="qq" data="data-cn"}}}

<script type="text/javascript" src="../lib/scrat.js"></script>
<script src="../lib/anchor.js?__inline"></script>
<script type="text/javascript" src="../lib/core/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../lib/plugins/js/easing.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.chocolat.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="../lib/plugins/js/move-top.js"></script>
<script type="text/javascript" src="../lib/plugins/js/owl.carousel.js"></script>
<script type="text/javascript" src="../lib/plugins/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="../config/net.js"></script>
<script type="text/javascript" src="./contact.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=xmYhEaDjHZrY2o8IK5WYYXHGfAnuq6yY"></script>
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });

    $(function () {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function (e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
    var map = new BMap.Map("map");          // 创建地图实例
    var point = new BMap.Point(113.321122,23.107192);  // 创建点坐标
    map.centerAndZoom(point, 30);                 // 初始化地图，设置中心点坐标和地图级别

    var marker = new BMap.Marker(point);  // 创建标注
    map.addOverlay(marker);               // 将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画


</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7g5yUq5AbgLpuMdr2MclAaQHdgyUnxaQ&callback=initMap">
</script>
<!--[SCRIPTS]-->
<script>
    /**
     *@require /components/head/head.js
     */
    require.async([
        'components/head/head.js',
        'components/qq/qq.js'
    ], function (head,qq) {
        head();
        qq();
    });
</script>
<!--<script type="text/javascript" src="index.js"></script>-->
</body>
</html>
