.head-change{
  float left
  font-size 16px;
  color #999
  margin-top 18px;

}

.head-choice{
  color:#ff7514
  position relative
}

#change-lan{
  cursor pointer
}

.head-choice-item{
  position absolute
  font-size 16px
  color #999
  left 0
  top 24px
  border 1px solid #999
  padding 2px;
  background-color #ffffff
}

.head-choice-item:hover{
  position absolute
  font-size 16px
  color #fff
  left 0
  top 24px
  border 1px solid #ff7514
  padding 2px;
  background-color #ff7514
  cursor pointer
}

.hide{
  display none
}

.show{
  display block
}