<div class="design">
    <div class="design-top">
        <h3><a href="<%=productsUrl%>"><%=name%></a></h3>
    </div>
    <div class="container">
        <div id="productPanel" class="design-main">
            
        </div>
    </div>
</div>