/*--start-design--*/
.design{
  padding:6em 0px;
}
.design-text{
  cursor pointer
  background:#f1f1f1;
  text-align:center;
}
.design-text h3 {
  font-size: 1.2em;
  color: #595959;
  padding 0 0 1em 0
  line-height 1em
}
.design-text p{
  line-height:1.6em;
  color:#595959;
  font-size:16px;
  font-weight:400;
  margin-top:1.5em;
}
/*--end-design--*/

.design-top
  text-align center
  margin-bottom 2em

.design-text
  img
    width 100%

.product-item
  margin-top 1em