.detail-content {
    width:1142px;
    padding: 74px 0px;
    position: relative;
    height: 580px;
    margin: 0 auto;
}
.detail-content2 {
    width:1142px;
    position: relative;
    margin: 0 auto;
    padding-bottom: 100px;
}

.detail-prd-wrap {
    padding-left: 580px;
}

.jssor_1 {
    position: absolute;
    left: 0px;
    width: 526px;
    height: 456px;
    overflow: hidden;
    visibility: hidden;
}

.detail-title{
    font-size: 38px;
    color: #ff7514;
}

.detail-desc{
    font-size: 16px;
    color: #999;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.detail-line{
    height: 32px;
    padding: 22px 0px;
    border-top:1px solid #eee;
}

.detail-line .detail-li-title{
    color :#000;
    font-size: 14px;
    font-weight: bolder;
}

.detail-line .detail-size{
    padding: 8px;
    font-size: 16px;
    color: #999;
    border: 1px solid #999;
    margin-left: 10px;
}

.detail-pngs{
    position: relative;
}

.detail-btn{
    width: 40px;
    height: 40px;
    float:left;
    margin-left: 14px;
    cursor: pointer;
}
.detail-btn img{
    width: 40px;
    height: 40px;
}

.detail-bg-png{
    margin-top: 30px;
    width: 1142px;
    border: 1px solid #eeeeee;
}
.detail-bg-png img{
    width: 100%;
}

.more-btn{
    width: 200px;
    color: white;
    background-color: #ff7514;
    -webkit-border-radius: 20px;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    cursor: pointer;
}