<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>雷诺贝尔铝业有限公司|renoxbell.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="ALCHEMIST Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" type="text/css" href="../lib/base/base.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/chocolat.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/google.fonts.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="../lib/plugins/css/popup-box.css">
    <link rel="stylesheet" type="text/css" href="../lib/font-awesome/css/font-awesome.min.css">

    <!--[STYLES]-->
</head>
<body>
{{{unit name="head" data="data-about"}}}
<!--start-about-->
<div class="about">
    <div class="container">
        <div class="about-main">
            <h3>About Us</h3>
            <h5>Introduction of Renoxbell</h5>

            <p><span style="color:#000;font-weight: bold">Renoxbell</span> was established in 1997, starting as the
                distributor of MITSUBISH brand Aluminum composite panels and then from 2003, Renoxbell founded its own
                factory in Guangzhou to produce Aluminum composite panels and Aluminum honeycomb panels, in 2009
                Renoxbell set up a new factory to produce solid Aluminum panels to meet market trend. By now, RENOXBELL
                has become the leading manufacturer of Aluminum panels, Aluminum composite panels, Aluminum honeycomb
                panels and hardware for curtain wall systems in China, the annual turnover is more than 20 Million US
                Dollars.
            </p>

            <div class="about-text" style="height: 220px">
                <div class="col-md-6 about-text-left">
                    <img src="./images/gate.jpg" style="height: 200px" alt="">
                </div>
                <div class="col-md-4 about-text-left">
                    <img src="./images/about2.png" style="height: 200px" alt="">
                </div>
            </div>
            <div>
                <p><span style="color:#000;font-weight: bold">As ISO9001:2008 certified company</span> RENOXBELL is
                    specializing in design, research and development, manufacturing and selling of the Aluminum paneling
                    materials for curtain walls. With the famous brand RENOXBELL and advanced fabrication facilities as
                    well
                    as professional team, RENOXBELL is on the way to fast growing and expanding.</p>

                <p>RENOXBELL factories are equipped with famous brand CNC facilities like ASIA, SPS, MILLER, SOYER,
                    RANSBURG, Eclipse, KONICA MINOLTA, etc. The fabrication lines, coating lines and baking stove are
                    designed and specified according to ASTM regulations to make sure of meeting international standard
                    quality.</p>

                <p>PRODUCE FIRST-CLASS QUALITY BY TECHNOLOGY is RENOXBELL’s pursuit of quality and business principle.
                    Whenever the past, now and the future, RENOXBELL always sticks to building its brand by employing
                    excellent personnel, producing quality products and providing considerate services. Under the
                    concept of
                    focus on quality, R&D and services, RENOXBELL is growing fast and steadily on the domestic market
                    and
                    international market, we’re on the way of becoming a leading and first-class manufacturer of
                    paneling
                    systems for curtain walls on the world.</p>
            </div>

            <h5>History of Renoxbell</h5>
            <ul class="about-li" style="margin-top: 20px">
                <li>1997, Renoxbell’s owner Mr. Li started his business as a distributor of MITSUBISHI Aluminum
                    composite panels.
                </li>
                <li>1999, Renoxbell brand was launched on the market and the company started selling Renoxbell branded
                    Aluminum composite panels in the way of OEM production.
                </li>
                <li>2003, Renoxbell established its own factory in Panyu District of Guangzhou, producing Aluminum
                    composite panels and Aluminum honeycomb panels.
                </li>
                <li>2009, Renoxbell set up a new factory in Dawang Hi-Tech zone of Zhaoqing City which is about one hour
                    driving from Guangzhou. The new factory is mainly producing solid Aluminum panels.
                </li>
                <li>2013, Renoxbell set up another new factory in Shan xi Province which is the owner Mr. Li’s hometown,
                    this new factory is mainly producing Aluminum panels and Aluminum honeycomb panels for supply of
                    Northern China market.
                </li>
            </ul>

            <h5>Product range of Renoxbell</h5>
            <ul class="about-li" style="margin-top: 20px">
                <li>Aluminum cladding panels and perforated Aluminum decoration panels with PVDF coating, Polyester
                    coating or powder coating, available for all single colors, marble colors, granite colors, wood
                    colors and custom carved patterns.
                </li>
                <li>Aluminum honeycomb panels with PVDF coating and Polyester coating, available for all single colors,
                    marble colors, granite colors, wood colors and decorative patterns
                </li>
                <li>Aluminum composite panels.</li>
                <li>Aluminum panels： Common shapes, hyperbolic curved shapes, 3D designs, perforated hollow patterns
                </li>
                <li>Aluminum honeycomb panels: common colors, decorative patterns, wood textures, stone/marble/granite
                    textures
                </li>
                <li>Aluminum composite panels: common colors, wood textures, stone/marble/granite textures</li>
                <li>Fireproof and not fireproof</li>
            </ul>

            <!--<div class="about-text" style="height: 220px">-->
            <!--<div class="col-md-12 about-text-left">-->
            <!--<img src="images/aboutus/banner1.png" style="height: 160px" alt="">-->
            <!--</div>-->
            <!--<div class="col-md-12 about-text-left">-->
            <!--<img src="images/aboutus/banner2.png" style="height: 160px" alt="">-->
            <!--</div>-->
            <!--<div class="col-md-12 about-text-left">-->
            <!--<img src="images/aboutus/banner3.png" style="height: 160px" alt="">-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
{{{unit name="foo"}}}

<script type="text/javascript" src="../lib/scrat.js"></script>
<script src="../lib/anchor.js?__inline"></script>
<script type="text/javascript" src="../lib/core/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="../lib/plugins/js/easing.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.chocolat.js"></script>
<script type="text/javascript" src="../lib/plugins/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="../lib/plugins/js/move-top.js"></script>
<script type="text/javascript" src="../lib/plugins/js/owl.carousel.js"></script>
<script type="text/javascript" src="../lib/plugins/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="../config/net.js"></script>
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    }

    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
        });
    });

    $(function () {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function (e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function () {
            var w = $(window).width();
            if (w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
<!--[SCRIPTS]-->
<script>
    /**
     *@require /components/head/head.js
     */
    require.async([
        'components/head/head.js'
    ], function (head){
        head();
    });
</script>
<!--<script type="text/javascript" src="index.js"></script>-->
</body>
</html>
