/*--start-clients--*/
.clients{
  background:#f3f3f3;
  padding:3em 0px;
}
.clients-top{
  text-align:center;
}
.clients-top h3 {
  color: #595959;
  font-size: 3em;
  font-weight: 100;
  margin: 0 auto;
  width: 56%;
  line-height: 1.4em;
}
.clients-top h3 span{
  color:#ff7514;
  font-weight: 300;
}
.clients-btm{
  text-align:center;
  margin-top:2em;
}
.clients-bottom p {
  font-size: 18px;
  color: #595959;
  font-style: italic;
  line-height: 1.8em;
  width: 80%;
  margin: 0 auto;
}
.clients-bottom h4{
  font-size:1.3em;
  font-weight:400;
  color:#ff7514;
  margin: 1.2em 0px 0px 0px;
}
.clients-bottom h4 span{
  color:#b5b5b5;
}
/*--end-clients--*/