<div class="clients">
    <div class="container">
        <div class="clients-top">
            <h3><span><%=name%></span></h3>
        </div>
        <div class="clients-btm">
            <div id="top2" class="callbacks_container">
                <ul class="rslides" id="slider6">
                    <li>
                        <div class="clients-bottom">
                            <p><%=content%></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>