.project {
  padding: 0em 0px 5em 0px;
}

.project-name {
  width: 70%;
  text-align: left;
  background: #454545;
  padding: 8px 0 8px 28px;
  bottom: 0;
  left: 30%;
  position: absolute;
}

.project-name p {
  color: #fff;
  font-size: 23px;
  font-weight: 300;
  line-height: 1.35em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-name span {
  position: absolute;
  background: url(/s/uae/g/06/res/xinruilego/v/lib/images/zoom-1.png) no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  top: 24px;
  left: -16px;
  cursor: pointer;
}

.item:hover div.project-name {
  background: #ff7514;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

#owl-demo .item {
  position: relative;
  width: 322px;
  margin-left 68px;
}

#owl-demo .item img {
  width: 322px;
  height: 322px;
}